.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    animation: grow 5s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@keyframes grow {

    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(3);
        opacity: 0;
    }

}