#container{
    height: 200px;
    width: 300px;
    background-color: #CE1126;
    position: relative;
}

.box{
    box-sizing: border-box;
}

.one{
    height: 100px;
    width: 300px;
    background-color: #002868;
    position: absolute;
    top: 50px;
}

.two{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: absolute;
    left: 100px;
    top: 50px;
}